name: Publish to Play Store

on:
  push:
    branches: [ "main" ] # Triggers when you push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release Bundle
        run: ./gradlew bundleRelease

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_SERVICE_AC }}
          packageName: com.quran.labs.androidquran # <-- This is your specific package name
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          track: internal # Options: internal, alpha, beta, production
          status: completed
