name: Build and Publish Quran Android App

on:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Build and Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Code
        uses: actions/checkout@v6

      # --- THIS STEP FIXES THE MISSING FILE ERROR ---
      - name: Decode Keystore file
        run: |
          echo ${{ secrets.RELEASE_KEYSTORE }} | base64 --decode > release.jks
      # -----------------------------------------------
      
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '17' 
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and Sign AAB
        # This task now finds the release.jks file via the path in gradle.properties
        run: ./gradlew bundleMadaniRelease

      - name: Upload Artifact to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_SERVICE_ACCOUNT_JSON }}
          packageName: com.quran.labs.androidquran 
          releaseFiles: app/build/outputs/bundle/madaniRelease/app-madani-release.aab
          track: internal 
          status: completed

